.delete-button-container, .important-button-container {
  float: right;
  cursor: pointer;
  padding-left: 15px;
}

.delete-button, .important-button {
  color: #17a2b8;
  height: 20px;
  width: 20px;
}

.delete-button:hover {
  color: #cf0e0e;
}

.selected-item {
  cursor: pointer;
}

.selected-item:hover {
  color: #17a2b8;
}

.item-container {
  padding-right: 0 !important;
}
